@font-face {
    font-family: '002_zou_ver.2';
  /*   上記で効かない場合は下記をお試しください。 */
  /*   font-family: 'LEMON MILK'; */
    src:
        url('./font/002zouver.2-Regular.ttf') format('opentype'),
}

main {
    font-family: "002_zou_ver.2";
}
.titleBox {
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleImage{
    scale: 0.7;
    position: absolute;
    top: -200px;
    left: 120px;
}

.startButton {
    font-size: 30px;
    margin: 0;
    top: 70%;
}

.title {
    mix-blend-mode: difference;
    font-size: 130px;
    margin: 0;
    margin-left: 70px;
}

.stageSelect{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.blur {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(20px);
}

.dN{
    display: none !important;
}

.menu {
    width: 100vw;   /* 画面の横幅 */
    height: 100vh;  /* 画面の縦幅 */
    object-fit: cover; /* 画像のアスペクト比を保ちながらトリミングして画面に合わせる */
}

.stageSelect a{
    transition: scale 150ms, color 150ms;
    position: absolute;
    top: calc(35% - 289px / 2);
    left: 50%;
    z-index: 11;
    padding: 128px 24px;
    text-decoration: none;
    color: #000;
}
.stageSelect a:hover{
    scale: 1.4;
    color: #fff !important;
}

.stageSelect a p{
    font-size: 28px;
    margin: 0px;
}

.stageSelect a:nth-child(2){
    top: calc(50% - 289px / 2);
    left: 5% !important;
}
.stageSelect a:nth-child(3){
    top: calc(45% - 289px / 2);
    left: 20% !important;
}
.stageSelect a:nth-child(4){
    top: calc(40% - 289px / 2);
    left: 35% !important;
}
.stageSelect a:nth-child(6){
    top: calc(30% - 289px / 2);
    left: 65% !important;
}
.stageSelect a:nth-child(7){
    top: calc(25% - 289px / 2);
    left: 80% !important;
}

/* .selected {
    position: absolute;
    top: 22%;
    left: -200;
    transition: top 0.3s, left 0.3s;
} */

.desc{
    display: flex;
    width: 200px;
    height: 100px;
    position: fixed;
    z-index: 20;
    bottom: 15%;
    font-size: 40px;
    right: 2%;
    flex-wrap: wrap;
    text-align: center;
}

.desc p{
    transition: all 150ms;
}

.desc p:nth-child(1){
    width: 200px;margin: 0px;border: 1px solid #000;
}

.desc p:nth-child(2){
    margin: 0px;
    width: 98px;
    text-align: center;
    border: 1px solid #000;
}

.desc p:nth-child(3){
    margin: 0px;width: 98px;text-align: center;border: 1px solid #000;
}

.desc .action{
    background-color: #000;
    color: #fff;
}